@model Projekt.Models.Sites
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div class="seperatePost">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <br>
        <h3>Description of the site:</h3>
        <p>@Html.DisplayFor(model => model.Description)</p> 
        <br>
        <h3>The sites link:</h3>
        <a href="@Html.DisplayFor(model => model.Url)" class="postLink">¨Click here to visit</a>
        <br>
        <p class="comment">Posted by: @Html.DisplayFor(model => model.ApplicationUser.Firstname) @Html.DisplayFor(model => model.ApplicationUser.Lastname)</p>
        <p class="postDate">@Html.DisplayFor(model => model.Created)</p>
        <hr>
    


        <h4>Comments</h4>
   <div>
    @foreach (var comment in Model.Comments)
    {
            <p class="comment">@(comment.Comment)</p>
            <p class="commentBy">@(comment.ApplicationUser?.Firstname) @(comment.ApplicationUser?.Lastname)</p>
            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == comment.ApplicationUserId)
            {
                <a asp-action="Delete" asp-controller="Comments" asp-route-id="@comment.CommentsId"> Delete comment </a>
            }
            <hr>

    }
    </div>
</div>
<br />

@if (SignInManager.IsSignedIn(User))
{
    <div id="newComment">

        <form method="post" asp-action="postComment">
            <label for="Comment">Add Comment</label>
            <input type="hidden" name="SitesId" value="@Model.SitesId" />
            <input name="Comment" required oninvalid="this.setCustomValidity('Please add a comment befor you press ADD')"/>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    
    </div>
}
else
{
    <p>You need to log in to post a comment.</p>
}

<br />

<div>
    <!-- Check if user is logged in and if the logged in user is the same who has posted the Site -->
    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.ApplicationUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model?.SitesId">Edit |</a>
    }
    
    <!-- jump back to previous page-->
    <a href="javascript: history.go(-1)" >Back to List</a>
</div>
